.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    border-bottom: 2px solid black;
}

.icon-navbar{
    width: 100px;
    height: 100px;
    margin: 10px 20px
}
.list{
    display: flex;
    align-items: center;
    list-style:  none;
}
.list li{
    width: 100px;
}

.cart{
    
    width: 85px; 
    height: 50px;
    margin: 40px 20px
}

.itemMenu{
    font: optional;
    font-size: 25px;
    color: blue;
    padding: 10px 30px 10px 10px;
}

.cantidadCompradas{
    font: optional;
    font-size: 40px;
    color: red;
    margin-top: 45px;
    margin-left: 0px;
    text-align: left;
}
    


.texto{
    font: arial;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: green;
}